<h1>Character Creation</h1>

<<<<<<< HEAD
<%= render 'form' %>

<%= link_to 'Back', characters_path %>
=======
<%= form_for @character do |f| %>
  <div class="field">
      <%= f.label :name %><br />
      <%= f.text_field :name %>
  </div>
  
  <div class="actions">
      <%= f.submit "Continue" %>
  </div>
<% end %>
<!-- This site details the fields_for method -->
<!-- https://guides.rubyonrails.org/form_helpers.html#understanding-parameter-naming-conventions -->
>>>>>>> wicked_2.0
