<h1>Character Creation</h1>
    <% if @character.errors.any? %>
        <div id="error_explanation">
            <h2>
                <%= pluralize(@character.errors.count, "error") %> prohibited
                this character from being saved:      
            </h2>
            <ul>
                <% @character.errors.full_messages.each do |msg| %>           
                <li><%= msg %></li>         
                <% end %>       
            </ul>     
        </div>   
    <% end %>    
    <%= form_for(@character) do |f| %>
    
        <%= f.label :name %>
        <br>
        <%= f.text_field :name %>
    
        <br><br>
    
        <%= f.label :race %>
        <br>
        <% Character.races.each_key do |race| %>
            <%= f.radio_button :race, race %>
            <%= f.label race.to_sym %>
        <% end %>
        
        <br><br>
        
        <%= f.label :characterClass %>
        <br>
        <% Character.characterClasses.each_key do |c| %>
            <%= f.radio_button :characterClass, c %>
            <%= f.label c.to_sym %>
        <% end %>
        
        <br><br>
        
        <%= f.label :backstory %>
        <br>
        <% Character.backstories.each_key do |b| %>
            <%= f.radio_button :backstory, b %>
            <%= f.label b.to_sym %>
        <% end %>
        
        <br><br>
        
        <h3>Stats:</h3>
        <!-- TODO: Way to loop through Stat model attributes? -->
        <%= f.fields_for(:stat) do |stat_f| %>
            <p>
                <%= stat_f.label :vitality %>: 
                <%= stat_f.number_field :vitality %>
                <br>
                <%= stat_f.label :strength %>: 
                <%= stat_f.number_field :strength %>
                <br>
                <%= stat_f.label :dexterity %>: 
                <%= stat_f.number_field :dexterity %>
                <br>
                <%= stat_f.label :endurance %>: 
                <%= stat_f.number_field :endurance %>
                <br>
                <%= stat_f.label :intelligence %>: 
                <%= stat_f.number_field :intelligence %>
                <br>
                <%= stat_f.label :luck %>: 
                <%= stat_f.number_field :luck %>
                <br>
            </p>
        <% end %>
        
        <br><br>
        
        <%= f.submit %>
    
    <% end %>

<!-- This site details the fields_for method -->
<!-- https://guides.rubyonrails.org/form_helpers.html#understanding-parameter-naming-conventions -->
