<p>
    <strong>Name:</strong>
    <%= @character.name %>
</p>

<p>
    <strong>Race:</strong>
    <%= @character.race %>
</p>

<p>
    <strong>Class:</strong>
    <%= @character.characterClass %>
</p>

<p>
    <strong>Backstory:</strong>
    <%= @character.backstory %>
</p>

<br><br>

<!-- Temporary for testing purposes -->
<strong>Character:</strong>
<p>
    <% @character.attributes.each do |name, val| %>
        <%= name %>: <%= val %>
        <br>
    <% end %>
</p>

<br>

<strong>Stats:</strong>
<p>
    <% @character.stat.attributes.each do |name, val| %>
        <%= name %>: <%= val %>
        <br>
    <% end %>
</p>